div.wrapper {
    hr {
      margin: 0;
      padding: 0;
      border: none;
      width: 100%;
      height: 1px;
      margin-bottom: .5rem;
      box-sizing: border-box;
      background: #212121;
    }

    h3 {
      padding: 0;
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
    }
    div.content {
      margin: 0 auto;
      max-width: 500px;
    }

    div.langs {
      position: relative;
      width: 600px;
      padding-top: 1rem;
      margin: 0 auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      div.lang {
        background: rgb(228, 228, 228);
        color: #3a3a3a;
        margin: 0 5px;

        font-size: 0.9rem;
        padding: 5px 10px 5px 10px;
        border-radius: 15px;
        opacity: .8;

        transition: opacity .2s linear;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
}